{% extends 'base.html' %}
{% block title %} {{ event.title }} {% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-4">Exibir evento</h3>

    <div class="card">
      <div class="card-body">
        
        <p>Evento: <a href="{{ event.url }}">{{ event.title }}</a> </p>
        <p>Texto: {{ event.text }} </p>
        <p>Quando: {{ event.event_date }} </p>
        <p>Onde: {{ event.place }} </p>
        <p>Preço (R$): {{ event.price }} </p>
        {% if available %}
        <a href="buy/"><button>Comprar ingresso</button></a>
        {% else %}
        <a href=""><button disabled>Comprar ingresso</button></a>
        {% endif %}
    </div>
    </div>
  </div>
{% endblock %}
